/* #region root */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1900,20,1.5,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --fs--1: clamp(0.8rem, 0.7932rem + 0.0338vw, 0.8333rem);
  --fs-0: clamp(1rem, 0.9494rem + 0.2532vw, 1.25rem);
  --fs-1: clamp(1.25rem, 1.1234rem + 0.6329vw, 1.875rem);
  --fs-2: clamp(1.5625rem, 1.3093rem + 1.2658vw, 2.8125rem);
  --fs-3: clamp(1.9531rem, 1.4943rem + 2.2943vw, 4.2188rem);
  --fs-4: clamp(2.4414rem, 1.6542rem + 3.9359vw, 6.3281rem);
   
  --s-3xs: clamp(0.25rem, 0.2373rem + 0.0633vw, 0.3125rem);
  --s-2xs: clamp(0.5rem, 0.4747rem + 0.1266vw, 0.625rem);
  --s-xs: clamp(0.75rem, 0.712rem + 0.1899vw, 0.9375rem);
  --s-s: clamp(1rem, 0.9494rem + 0.2532vw, 1.25rem);
  --s-m: clamp(1.5rem, 1.4241rem + 0.3797vw, 1.875rem);
  --s-l: clamp(2rem, 1.8987rem + 0.5063vw, 2.5rem);
  --s-xl: clamp(3rem, 2.8481rem + 0.7595vw, 3.75rem);
  --s-2xl: clamp(4rem, 3.7975rem + 1.0127vw, 5rem);
  --s-3xl: clamp(6rem, 5.6962rem + 1.519vw, 7.5rem);

  /* One-up pairs */
  --s-3xs-2xs: clamp(0.25rem, 0.1741rem + 0.3797vw, 0.625rem);
  --s-2xs-xs: clamp(0.5rem, 0.4114rem + 0.443vw, 0.9375rem);
  --s-xs-s: clamp(0.75rem, 0.6487rem + 0.5063vw, 1.25rem);
  --s-s-m: clamp(1rem, 0.8228rem + 0.8861vw, 1.875rem);
  --s-m-l: clamp(1.5rem, 1.2975rem + 1.0127vw, 2.5rem);
  --s-l-xl: clamp(2rem, 1.6456rem + 1.7722vw, 3.75rem);
  --s-xl-2xl: clamp(3rem, 2.5949rem + 2.0253vw, 5rem);
  --s-2xl-3xl: clamp(4rem, 3.2911rem + 3.5443vw, 7.5rem);
   
  --ratio: 1.5;
  --padding: var(--s-s);
  --radius: .5rem;
   
     /* Colors */
     --light: #F9F7F3;
     --lightish: #E9E7E2;
     --dark: #373737;
     --darkish: #757070;
     --highlight: #A51323;
   }
/* #endregion */

/* #region Reset */
/* Andy Bell Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-bottom: 0;
  margin-inline: 0;
}

/* Set core body defaults */
body {
    background-color: var(--light);
    color: var(--dark);
    font-family: system-ui, sans-serif;
    font-size: var(--fs-0);
    line-height: var(--ratio);
    margin:0;
    min-height: 100vh;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2
 {
  text-wrap: balance;
}

/* Leave no orphaned words at the end of paragraphs */
article p {
  text-wrap: pretty;
}

/* A element styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: .2ex;
}

b, strong {
    font-weight: 700;
}

ul, ol {
  padding-inline-start: 1em;
}

/* Make images easier to work with */
img {
  height: auto;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Place labels above their input fields */
label {
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* #endregion reset*/

/* #region typography */

h1 {
  font-size: var(--fs-4);
  letter-spacing: -.01em;
  text-align: center;
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-1);
}

small {
  font-size: var(--fs--1);
}

/* #endregion */

/* #region components */

/* YouTube video responsive */
.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* Footer form */
footer form {
  max-width: 25rem;
}

/* blockquote */
.quote figcaption{
  color: var(--darkish);
}
.quote blockquote {
  font-style: italic;
}

/* Set horizontal nav bar */
nav ul {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}
nav a {
  text-decoration: none;
}
.flex,
nav,
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--s-s-m);
}
.flex,
nav {
  flex-wrap: wrap;
}

/* Give all figures a card appearance */
figure {
  padding: var(--padding);
  background-color: #fff;
  border-radius: var(--radius);
  margin-block: 0;
  cursor: pointer;
}

/* All links with role=button get button styles */
[role=button] {
  background-color: var(--dark);
  color: var(--light);
  border-radius: var(--radius);
  padding: var(--padding);
  text-decoration: none;
}

/* Style Details and Summary elements as accordions */
summary  {
  list-style: none;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: #fff;
  border-radius: var(--radius);
}
/* Remove default marker for Safari */
summary::-webkit-details-marker {
  display: none;
}
summary:after {
  content: "\0276f";
}
details[open] summary:after {
  content:"\0276f";
  transform: rotate(270deg);
}
details[open] summary {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
details div {
  padding: var(--padding);
  padding-top: 0;
  background-color: #fff;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
details div :first-child {
  margin-top: 0;
}
details div:not(:first-child) {
  padding-top: var(--s-s);
}

/* Style forms */
form {
  background-color: #fff;
  padding: var(--padding);
  border-radius: var(--radius);
}
form input, form textarea, form label {
  font-size: var(--fs--1);
}
form input,
form textarea {
  border: 1px solid var(--lightish);
  background-color: #fff;
  outline: none;
  padding: var(--padding);
  width: 100%;
}
form input:focus,
form textarea:focus {
  border-color: var(--darkish);
}
form button {
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
}
form label,
form button {
  margin-top: var(--padding);
}
form input,
form textarea {
  margin-top: var(--s-2xs);
}
form label:first-of-type {
  margin-top: 0;
}

/* Style Tables */
table {
  width: 100%;
  border: 1px solid var(--lightish);
  border-collapse: collapse;
  background-color: #fff;
}
th {
  text-align: left;
}
th,
td {
  padding-block: calc(var(--s-s)/2);
  padding-inline: var(--s-xs);
  font-size: var(--fs--1);
}
tr:nth-child(even) {
  background-color: var(--light);
}

/* hgroup styles */
hgroup {
  text-align: center;
}
hgroup p {
  color: var(--darkish);
  margin-block-start: 0;
}

/* Card styles */
.card {
  background-color: var(--dark);
  color: var(--light);
  padding: var(--padding);
  margin-top: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/* #endregion */

/* #region layout */

/* Center main regions on screen */
header,
section,
footer,
article {
    margin-inline: auto;
    width: min(90rem, 100% - var(--s-s) * 2);
}

/* Add some padding above the nav bar */
header {
  padding-top: calc(var(--ratio)*1rem);
}

/* Define padding around Article H1s */
article h1 {
  margin-block-start: var(--s-l-xl);
  margin-block-end: var(--s-s-m);
}

/* section styles */
section + section {
  margin-top: var(--s-2xl-3xl);
}
section > div {
  margin-top: calc(var(--ratio)*1rem);
}

/* Define padding around footer */
footer {
  margin-block-start: var(--s-xl-2xl);
  border-top: 1px solid var(--lightish);
  padding-block-start: var(--s-xl-2xl);
  padding-block-end: var(--s-m-l);
}

/* Create grid-based prose styles for Articles */
article {
  --gap: var(--s-s-m);
  --full: minmax(0, 1fr);
  --content: min(55ch, 100% - var(--gap) * 2);
  --bump: minmax(0,var(--s-xl));
  --feature: minmax(0, var(--s-3xl));

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [bump-start] var(--bump)
    [content-start] var(--content) [content-end]
    var(--bump) [bump-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}
/* Set all children to central grid template column */
article > * {
  grid-column: content;
}
/* Set item to be much wider than main content */
.feature,
article h1 {
  grid-column: feature;
}
/* Set item to be a little wider than main content */
.bump {
  grid-column: bump;
}
.full {
  grid-column: full;
}

/* Add vertical rhythym */
article > * + *,
.stack > * + * {
  margin-top: calc(var(--ratio)*1em);
}

/* Layout for color swatches on info page */
.swatch-grid {
  display: grid;
  grid-gap: var(--padding);
  justify-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
}
.swatch-grid img {
  margin-inline: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.swatch-grid figcaption {
  line-height: 1;
}

/* Card grids */
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding);
}
.switcher > * {
  flex-grow: 1;
  flex-basis: calc(( 34rem - 100%) * 999);
}
.switcher > :nth-last-child(n+ 5),
.switcher > :nth-last-child(n+ 5) ~ * {
  flex-basis: 100%;
}

/* Blog grid */
.grid {
  display: grid;
  grid-gap: var(--padding);
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

/* #endregion */

/* #region utilities */

.center {text-align: center;}

.mt-b {
  margin-block: calc(var(--ratio)*1rem + var(--padding));
}

.mt-0 {
  margin-top: 0;
}

.h1 {
  font-size: var(--fs-4);
  letter-spacing: -.01em;
}
/* #endregion */