---
layout: layouts/base.njk
---
<article class="stack prose">
    <h1>{{ title }}</h1>
    {{ content | safe }}
</article>
{% if tags == "blog" %}
{% include "partials/_pagination.njk" %}
{% endif %}
