---
layout: layouts/page.njk
permalink: /bikes/
title: Custom or stock?
metaDesc: Check out custom steel hardtails, gravel, and all-road bikes.
type: website
---
  <div class="feature card-grid">
    {% for post in collections.bikes %}
      {% include "partials/_card.njk" %}
    {% endfor %}
  </div>