---
layout: layouts/base.njk
title: Manzanita Cycles
metaDesc: Custom steel bike frames for your next adventure
type: website
featuredImage: 006ce2cf-8c8e-44f7-a7a5-96a2609936b3
---
<section class="hero stack overlay">
  <h1>Whippet</h1>
  <p>A fast and comfortable gravel bike that's easy to love.</p>
  <p><a class="cta" href="/bikes/whippet">Learn more</a></p>
</section>

<section>
  <hgroup>
    <h2>Custom or stock?</h2>
    <p><strong>Choose your own adventure</strong></p>
  </hgroup>
  <div class="switcher">
      {% for post in collections.bikes %}
        {% include "partials/_card.njk" %}
      {% endfor %}
  </div>
</section>

<section>
  <hgroup>
    <h2>Manzanita love</h2>
    <p><strong>I swear these customers weren't bribed</strong></p>
  </hgroup>
  <div class="switcher">
  {% for quote in quotes %}
      {% include "partials/_quotes.njk" %}
  {% endfor %}
  </div>
</section>

<section>
  <hgroup>
    <h2>From the blog</h2>
    <p><strong>Build logs, trip reports, and opinion pieces</strong></p>
  </hgroup>
  <div class="switcher">
    {% set latest_posts = collections.blog | reverse %}
    {% for post in latest_posts.slice(0,3) %}
      {% include "partials/_card.njk" %}
    {% endfor %}
  </div>
  <p class="center"><a class="cta cta-alt" href="/blog">View all posts</a></p>
</section>