---
layout: layouts/base.njk
title: Manzanita Cycles
metaDesc: Custom steel bike frames for your next adventure
type: website
featuredImage: 006ce2cf-8c8e-44f7-a7a5-96a2609936b3
---
<section class="stack">
  <hgroup class="stack">
    <h1><em>Whippet</em></h1>
    <p>A fast and comfortable gravel bike that's easy to love.</p>
    <p class="mt-b"><a role="button" href="/bikes/whippet">Learn more</a></p>
  </hgroup>
  <img class="mt-b" data-blink-uuid="ff273bb7-d725-4cbc-89e9-e9461a74f0e2" alt="whippet gravel bike" width="1440" height="1440">
</section>

<section>
  <hgroup>
    <h2 class="h1">Custom or stock?</h2>
    <p>Choose your own adventure</p>
  </hgroup>
  <div class="switcher">
      {% for post in collections.bikes %}
        {% include "partials/_card.njk" %}
      {% endfor %}
  </div>
</section>

<section>
  <hgroup>
    <h2 class="h1">Manzanita love</h2>
    <p>I swear these customers weren't bribed</p>
  </hgroup>
  <div class="switcher">
  {% for quote in quotes %}
      {% include "partials/_quotes.njk" %}
  {% endfor %}
  </div>
</section>

<section>
  <hgroup>
    <h2 class="h1">From the blog</h2>
    <p>Build logs, trip reports, and opinion pieces</p>
  </hgroup>
  <div class="switcher">
    {% set latest_posts = collections.blog | reverse %}
    {% for post in latest_posts.slice(0,3) %}
      {% include "partials/_card.njk" %}
    {% endfor %}
  </div>
  <p class="center mt-b"><a role="button" href="/blog">View all posts</a></p>
</section>