---
title: Find answers to common questions
layout: layouts/page.njk
permalink: /info/
metaDesc: Get answers to frequently asked questions, like, "What is the ordering process?"
type: article
---
<div class="bump stack">
    <details>
        <summary>How much does a frame and fork cost?</summary>
        <div>
            <p>All steel frames start at <strong>{{ pricing.baseFrame }}</strong>.</p>
            <p>This includes two sets of mounting points for water bottles, stops/guides for brake and derailleur lines,
                IS disc brake mounting, 12mm thru axle dropouts, a single color powder coat with contrasting graphics,
                and a White Industries headset in your color of choice.</p>
            <p>Extra options are available and listed on the pages for each bike model. If you don't see an option
                listed, let me know and I'll provide a quote if I'm able and willing to do it.</p>
            <p>All custom steel forks start at <strong>{{ pricing.baseFork }}</strong>.</p>
            <p>This includes either a lugged crown or unicrown fork with IS disc brake mounting and thru axle dropouts. I currently don't offer a steel fork for flat mount brakes. For that you can choose among available carbon forks.</p>
        </div>
    </details>
    <details>
        <summary>What is your turnaround time?</summary>
        <div>
            <p>I will provide you an estimated turnaround time during our first discussion. Note that until you pay the deposit, the estimate isn't locked in. The deposit secures your spot in the build schedule.</p>
        </div>
    </details>
    <details>
        <summary>What is the ordering process?</summary>
        <div>
            <ol class="stack">
                <li>
                    <p>If after our initial conversation, you'd like to have a Manzanita in your life, you'll pay a non-refundable <strong>{{ pricing.baseDeposit }}</strong>. You've now committed to the build, and I'll add you to the build schedule.</p>
                </li>
                <li>
                    <p>Once added to the schedule, it's time for some homework. You'll receive links to some online
                        forms to record your body and bike measurements and to list the components you'd like to use for
                        the build. This information will help me design your bike for the proper clearances and the
                        right fit. It's at this point that you'll want to consider getting a professional fit. That way
                        we can be confident that the contact points—hands, butt, feet—are where they should be to
                        provide a comfortable and efficient ride.</p>
                </li>
                <li>
                    <p>Before your scheduled build time, we'll discuss all of the details that will make your bike
                        unique. We'll talk ride characteristics, geometry, riding style, frame options, paint colors,
                        fit, and component selection. Soon after, I'll provide a CAD drawing of your frame and a quote
                        for the frame and components package. We can go back and forth at this point until you're happy.
                        After approving the design, you'll pay 50% of the balance for the frame and components package.
                    </p>
                </li>
                <li>
                    <p>Once the bike returns from paint, you'll pay the remaining balance. Your new ride will then be
                        carefully wrapped in protective packing material and sent to you fully insured. In an effort to
                        reduce waste, your bike will likely arrive in a recycled cardboard box filled with recycled
                        packing material.</p>
                </li>
                <li>
                    <p>Bring the items to your favorite professional bicycle mechanic for final assembly and then hop on
                        your new Manzanita and pedal!</p>
                </li>
            </ol>
        </div>
    </details>
    <details>
        <summary>What is the warranty?</summary>
        <div>
            <p>I use only the best tubing and raw materials for making your frame, and I stand by my work. If you are
                the original owner, Manzanita Cycles offers a lifetime warranty on all Manzanita-made products that fail
                due to a materials or manufacturing defect.</p>
            <p>If you crash, abuse, modify, or damage your Manzanita product, or if you install parts incorrectly, use
                incompatible parts, or fail to do proper maintenance on your bike, then it will no longer be covered by
                the warranty. Any paint and graphics are also not covered.</p>
            <p>If you have a problem with a component not made by Manzanita Cycles, it's best to contact the component
                manufacturer for support. However, if you're having trouble getting traction, let me know and I'll try
                to help out.</p>
        </div>
    </details>
    <details>
        <summary>Is shipping included in the price?</summary>
        <div>
            <p>I typically use UPS to ship your bike with insurance to cover its replacement in case of theft or damage.
                Shipping to a US destination starts at <strong>{{ pricing.optionShippingBase }}</strong> for a frame.
                Frame sets or complete bikes will be more. I can provide a quote for international destinations. You can
                also pick up the bike from Manzanita Cycles World Headquarters if you live near Reno.</p>
        </div>
    </details>
    <details>
        <summary>What tubing brands do you use?</summary>
        <div>
            <p>Your frame may include tubes from Reynolds, Columbus, Dedacciai, Kaisei, and other high-quality
                manufacturers.</p>
            <p>It's worth noting that the tubing brand isn't as important as the tube characteristics: diameter and
                butting profile. When building your frame, I'll select tubes based on the best characteristics for the
                job. Sometimes that means using tubing from a single manufacturer, but most often the frame will contain
                a mix of brands.</p>
        </div>
    </details>
    <details>
        <summary>Do you only sell complete bikes?</summary>
        <div>
            <p>Although I prefer to build your bike as a complete unit in order to guarantee that it looks and performs
                its best, I'm also happy to send you the frame for your favorite professional bike mechanic to build up.
                A complete component package will cost less than buying the individual parts at retail price. I also
                don't charge a fee for building up your bike.</p>
        </div>
    </details>
    <details>
        <summary>Do you build custom wheels, racks, or stems?</summary>
        <div>
            <p>I prefer to focus on making you the best frame and fork possible. There are several professional wheel
                builders I can recommend. Tubus and Nitto make the best touring and randonneuring racks. I regularly use
                those racks to place rack mounts. And we can always paint your stem to match the frame if you want that
                fully integrated look.</p>
        </div>
    </details>
</div>
<p>If your question isn't answered here, feel free to <a href="/contact">contact me</a>.</p>
<h2>Finishing options</h2>
<p>Your new Manzanita is going to ride great. It has to look great too.</p>
<p>That's why Manzanita Cycles works exclusively with Ollie at Dark Matter Finishing to deliver the highest quality
    finishes in the industry.</p>
<p>Included with every frame is a single-color powder coat. Ollie then masks the frame and paints on the graphics
    followed by applying a clear coat over everything. The combination of a powder coat base and liquid clear coat
    ensures excellent durability and a showroom finish.</p>

{% img "cea560f5-3826-4d6c-883a-9a5730734845", "Ollie Cleveland of Dark Matter Finishing applies a clear coat over a Manzanita frame.", "bump" %}

<h3>Curated color schemes</h3>
<p>To help make your new Manzanita look stunning, you have the choice of the following curated colors with either
    metallic silver or black graphics. You can also create your own color scheme for an additional <strong>{{
        pricing.optionCustomPaint }}</strong>.</p>

<div class="swatch-grid">
    {% for swatch in swatches %}
    <figure>
        <img data-blink-uuid="{{ swatch.img }}" alt="{{ swatch.figcaption }}" width="100px" height="100px">
        <figcaption><small>{{ swatch.figcaption }}</small></figcaption>
    </figure>
    {% endfor %}
</div>
<p>You can order color sample swatches directly from <a href="https://www.prismaticpowders.com">Prismatic Powders</a> if you want to see a color in person. Use the above color names to search their website.</p>
<h3>Liquid and cerakote options</h3>
<p>The only drawback to powder coating is that it cannot be applied to carbon fiber. If you plan to use a carbon fiber
    fork on your build and you want it to match your color scheme, you'll have to get the frame and fork liquid painted
    or cerakoted.</p>
<p>Both options start at <strong>{{ pricing.optionLiquidPaintFrame }}</strong> for frames and <strong>{{
        pricing.optionLiquidPaintFork }}</strong> for forks.</p>
<p>Liquid paint offers the most color options while cerakote offers the best durability but a limited color palette. At
    this time I don't have curated color schemes for these options because 9 out of 10 customers go with powder coat.
    For liquid paint inspiration, I like to refer to an <a href="https://www.rennbow.org/paint-chips">online index of
        Porsche colors</a>. For cerakote options, you can refer to the <a
        href="https://www.cerakote.com/shop/cerakote-coating">cerakote website</a>.</p>


<h3>Common finishing questions</h3>
<div class="bump stack">
    <details>
        <summary>Can I get the frame with only a clearcoat?</summary>
        <div>
            <p>Although I love the look of an unpainted steel frame, I also want my frames to last. A clearcoat is
                porous and doesn't prevent the frame from rusting underneath. Bluing and similar finishes also can't
                provide the protection a steel frame needs.</p>
            <p>Please choose one of the curated color schemes or for an additional <strong>{{ pricing.optionCustomPaint
                    }}</strong> you can create your own color scheme.</p>
        </div>
    </details>
    <details>
        <summary>Can I omit the Manzanita graphics on the down tube?</summary>
        <div>
            <p>I'm proud of the work I put into each frame and the Manzanita brand. While every frame must include the
                Manzanita graphics on the down tube, I can work with you to make the graphics subtle.</p>
            <p>One option is to have a glossy frame with matte graphics in a similar color. The texture difference
                provides a soft contrast.</p>
            <p>Another option is to pick a dark frame color with dark graphics or light on light.</p>
        </div>
    </details>
    <details>
        <summary>What are the options for the head tube badge?</summary>
        <div>
            <p>The base price includes a raw aluminum head tube badge stamped with the frame's build number.</p>
            <p>For <strong>{{ pricing.optionBadgeAlt }}</strong> you can go with a raw brass or raw copper badge.</p>
            <p>{% icon "420a18dd-862b-4f5a-bb54-c03c889501d0", "head tube badges in aluminum, brass, and copper" %}</p>
            <p>For <strong>{{ pricing.optionBadgePaint }}</strong> you can have the aluminum badge painted to match the frame's
                color scheme.</p>
        </div>
    </details>
    <details>
        <summary>Can the frame have a matte or glossy finish?</summary>
        <div>
            <p>While powder coat colors naturally vary in glossiness, Ollie at Dark Matter Finishing can adjust any
                powder coat to be matte or glossy. Ollie can even make the frame glossy and the graphics matte, or vice
                versa.</p>
            <p>That being said, I highly recommend going with a glossy finish for your frame. Matte finishes, due to
                their rougher surface, tend to hold onto dirt and grime, making cleaning more work compared to glossy
                finishes.</p>
        </div>
    </details>
</div>