---
title: Your email was sent successfully!
layout: layouts/page.njk
permalink: /thanks/
metaDesc: Your email was sent successfully.
type: article
eleventyExcludeFromCollections: true
---
<p>Expect to receive a response within 24 hours.</p>

<p>In the meantime, you can <a href="/">head back to the home page</a>.</p>