---
title: Thanks
layout: layouts/page.njk
permalink: /thanks/
metaDesc: Thanks for the email!
type: article
---

<h2>Your email was sent successfully!</h2> 

<p>Expect to receive a response within 24 hours.</p>

<p>In the mean time, you can <a href="/">head back to the home page</a>.</p>