<figure class="stack">
    <a href="{{ post.url }}"><img data-blink-uuid="{{ post.data.featuredImage }}" alt="{{ post.data.alt }}" width="900px" height="600px"></a>
  <figcaption>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </figcaption>
</figure>