<!-- formspark.io + botpoison.com -->
<form class="bump contact" action="https://submit-form.com/5g5MBsRGp" data-botpoison-public-key="pk_fbf53ac8-1005-463a-a4ca-139c870391c6">
    <input type="hidden" name="_redirect" value="https://manzanitacycles.com/contact" />
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required="" />
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required="" />
    <label for="message">Message</label>
    <textarea id="message" name="message" required=""></textarea>
    <button type="submit">Send</button>
  </form>