<!-- formsubmit.co -->
<form class="bump contact" action="https://formsubmit.co/afd29fe6c4f03ddf5d2d8b379ce7bc85" method="POST">
    <input type="hidden" name="_next" value="https://manzanitacycles.com/thanks">
    <input type="hidden" name="_subject" value="New message from contact form">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required="" />
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required="" />
    <label for="message">Message</label>
    <textarea id="message" name="message" required=""></textarea>
    <button type="submit">Send</button>
  </form>