<!-- https://www.staticforms.xyz -->
<form class="bump" name="Contact" action="https://api.staticforms.xyz/submit" method="post">
  <input type="hidden" name="accessKey" value="6ca4c1c3-9193-47ac-ad2e-a190d7edb9d5">
  <input type="hidden" name="redirectTo" value="https://velvety-horse-229d77.netlify.app/success/">
  <input type="hidden" name="replyTo" value="@">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required />
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required />
  <label for="message">Message</label>
  <textarea name="message" id="message" required></textarea>
  <input type="text" name="honeypot" style="display: none;">
  <button type="submit">Send</button>
</form>