<footer>
    {% include "partials/_navigation.njk" %}
    <p>
        Nick Jensen<br>
        Reno, NV<br>
        <a href="tel:+16502070312">650-207-0312</a><br>
        <a href="mailto:nick@manzanitacycles.com">nick@manzanitacycles.com</a><br>          
    </p>
    <p>
        <small><a href="/privacy">Privacy policy</a><br>
        &copy; 2024 Manzanita Cycles, LLC<br>
        This <a href="/rant">simple website</a> uses <a href="https://www.11ty.dev">Eleventy</a> and <a href="https://www.netlify.com">Netlify</a></small>
    </p>
</footer>