<figure class="stack quote">
    <img data-blink-uuid="{{ quote.img }}" alt="{{ quote.alt }}" width="500px" height="500px">
    <blockquote><q>{{ quote.text }}</q></blockquote>
    <figcaption>{{ quote.name }}</figcaption>
</figure>